[submodule "XPlatform/core"]
	path = XPlatform/core
	url = https://github.com/XPlatformProject/XPlatform.git
[submodule "XPlatform/Exts/net"]
	path = XPlatform/Exts/net
	url = https://github.com/XPlatformProject/XPlatform.net.git
